
<iframe src="https://player.vimeo.com/video/248737429" width="800" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <p><a href="https://vimeo.com/248737429">Year in Review, 2017</a> from <a href="https://vimeo.com/stefaniaculafic">Stefania Culafic</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
